.left-player-body {
  width: 68%;
  margin-right: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-player-body {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid {
  display: flex;
}
@media only screen and (max-width: 855px) {
  .grid {
    flex-direction: column;
    justify-content: space-between;
  }
}
